# Supabase Configuration
SUPABASE_URL=https://wwukyrixgkgagofyrlsq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3dWt5cml4Z2tnYWdvZnlybHNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2NzgyMTcsImV4cCI6MjA4MDI1NDIxN30.gELKeHox3dnDMWgaDk9c_KVrvFd-FTtKNuegpogFcwo

# Environment
FLUTTER_ENV=development